body{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;

}
* {
    margin: 0;
    padding: 0%;
}

@font-face {
    font-family: 'open sans sembold';
    src: url(fonts/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: Raleway-Regular;
    src: url(fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: Raleway-Light;
    src: url(fonts/Raleway-Light.ttf);
}

@font-face {
    font-family: OpenSans-Bold;
    src: url(fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: OpenSans-Regular;
    src: url(fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Raleway-bold;
    src: url(fonts/Raleway-Bold.ttf);
}


.container{
    width: 100%;
    max-width: 1105px;
    margin: 0 auto;
    overflow: hidden;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    height: 70px;
}

.nav-menu::before{
    content: '..';
    background-color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 70px;
    width: 100%;
    max-width: 1400px;
    z-index: -1;
}

.logo{
    margin-top: 20px;
}

.menu ul{
    height: 70px;
}

.menu ul li{
   float: left; 
   line-height: 70px;
   list-style-type: none;
   padding-left: 46px;
}

.menu ul li a{
    text-decoration: none;
    color: #c9c9c9;
    font-family: 'open sans sembold';
    
}

.menu ul li a:hover{
    color: white;
    transform: scale(3.0);
    transition-duration: .15s;
}

.nav-burger{
    display: none;
}
    @media (max-width: 650px){

        .menu{
            display: none;
        }
        

        .nav-burger{
            display: flex;
        }

.menu-btn{
    display: flex;
    align-items: center;
    position: absolute;
    top: 25px;
    right: 30px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3;
  }
   
  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: white;
    transition-duration: .25s;
  }
  .menu-btn > span::before {
    content: '';
    top: -8px;
  }
  .menu-btn > span::after {
    content: '';
    top: 8px;
  }
   
  .menubox{
    display: block;
    position: absolute;
    z-index: 2;
    visibility: hidden;
    top: -100%;
    right: 0;
    width: 200px;
    height: 260px;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: black;
    transition-duration: .25s;
    
  }
   
  .menu-item {
    display: block;
    padding: 20px 0px;
    color: #dce3e4;
    font-family: 'open sans sembold';
    font-size: 18px;
    text-align: center;
    font-weight: 300;
    text-decoration: none;
    transition-duration: .10s;
  }
  .menu-item:hover {
    color: white;
    transform: scale(1.1);
  }
   
   
  #menu-toggle{
    display: none;
  }
   
  #menu-toggle:checked ~ .menu-btn > span{
    transform: rotate(45deg);
  }
  #menu-toggle:checked ~ .menu-btn > span::before{
    top: 0;
    transform: rotate(0);
  }
  #menu-toggle:checked ~ .menu-btn > span::after{
    top: 0;
    transform: rotate(90deg);
  }
  #menu-toggle:checked ~ .menubox{
    visibility: visible;
    top: 0;
    
  }
}







.title-and-form::before{
    content: "..";
    background-image: url(img/les_derevia_ozero_222650_1920x1080.jpg);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1400px;
    height: 640px;
    z-index: -1;
}

.title-and-form{
    max-width: 100%;
    height: 640px;
    display: inline-block;
     
}

.title{
    width: 100%;
    display: inline-block;
   
}

.logo-big{
    margin-top: 110px;
    margin-bottom: 25px;
}

.title-h1 h1{
    font-family: Raleway-Regular;
    font-weight: 200;
    color: white;
}

.title-h1 hr{
    width: 65px;
    background-color: white;
    height: 2px;
    border: none;
    margin-top: 35px;
}

.title-p{
    margin-top: 40px;
    margin-bottom: 44px;
}

.title-p p{
    font-family: Raleway-Light;
    font-size: 15px;
    color: white;
}

.button-submition{
    background-color: transparent;
    color: white;
    width: 130px;
    height: 38px;
    border: 2px solid white;
    font-family: 'open sans sembold';
    font-size: 15px;
    cursor: pointer;
}

.form{
    float: right;
    width: 50%;
    max-width: 360px;
    margin-top: 140px;
}

.bg-form p{
    font-family: OpenSans-Bold;
    font-size: 20px;
    color: #333333;
    background-color: #484848;
    color: white;
    width: 100%;
    max-width: 360px;
    height: 53px;
    text-align: center;
    line-height: 53px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.bg-form span{
    color: #ff8b38;
}

.form-Get-Started{
    background-color: white;
}

.form-Get-Started input{
    width: 100%;
    max-width: 285px;
    height: 30px;
    border: none;
    border-bottom: 2px solid #d6d6d6;
    margin: 20px 38px;
    outline: none;
    font-family: OpenSans-Regular;
    font-size: 14px;
}

.button-Get-Started{
    height: 54px;
    width: 100%;
    max-width: 360px;
    border: none;
    background-color: #ff9b51;
    color: white;
    font-family: 'open sans sembold';
    font-size: 15px;
    cursor: pointer;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    
}

@media (max-width: 819px){

   

    .title{
        width: 100%;
        text-align: center;
        display: block;
    }
    .title-and-form{
        width: 100%;
        margin: 0 auto;
    }
    .title-h1 hr{
        margin: 0 auto;
    }

    .form{
        width: 100%;
        margin: 0 auto;
        margin-top: 100px;
        float: none;
    }
    .form-Get-Started input{
        width: 100%;
        max-width: 285px;
        margin: 0%;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .bg-form form{
        text-align: center;
    }

}

@media (max-width: 450px) {
    .logo-big{
        margin-top: 30px;
    }
    .form{
        margin-top: 140px;
    }
}


.social{
    width: 100%;
    height: 105px;
}

.social hr{
    position: absolute;
    left: 50%;  
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    background-color: #b7b7b7;
    max-width: 1400px;
    text-shadow: 3px 4px 3px #b7b7b7;
    
}

.media-and-icon{
    width: 100%;
}

.social-media{
    margin: 23px 0;
    display: inline-block;
}

.social-media h2{
    font-family: OpenSans-Bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.social-media p{
    font-family: OpenSans-Regular;
    font-size: 16px;
}

.media-icon{
  float: right;  
}

.media-icon ul{  
    margin-top: 40px;
    
}

.media-icon li{
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}

.media-icon img{
    width: 45px;
}

@media (max-width: 1102px) {

    .social{
        width: 100%;
        height: 100%;
        display: block;
    }

    .social-media{
        width: 100%;
        text-align: center;
        
    }

    .media-icon{
        float: left;
        width: 100%;
        margin: 0 auto;
    }
   
    .media-and-icon{
        display: inline-block;
        text-align: center;
    }
}



.radio-button{
    display: none;
  }
  
  .carusel-wraper{
    width: 100%;
    display: flex;
    overflow: hidden;
    height: 100%;
    margin-top: 140px;
  }

 
  
  .navigation{
    width: 110px;
      height: 110px;
      margin: 0%;
      background-color: #333333;
      margin: 2px;
      text-align: center;
      line-height: 110px;
      color: white;
      font-family: OpenSans-Bold;
      font-size: 15px;
      display: block;
      margin-right: 50px;
  }
  
  .s1{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .s3{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .navigation:hover{
    background-color: #ff8b38;
    transition: all .3s ease;
  }
  
  .content-carusel{
    margin: auto 0;
    margin-right: 60px;
    
  }
  
  .content-carusel h6{
    font-family: OpenSans-Bold;
    font-size: 20px;
    
  }
  
  .content-carusel p{
    font-family: OpenSans-Regular;
    font-size: 14px;
    line-height: 20px;
    color: #b7b7b7;
    margin-top: 55px;
    
    
    
  }
  
  .content-carusel button{
    width: 120px;
    height: 42px;
    background-color: #ff8b38;
    outline: none;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 15px;
    font-family: 'open sans sembold';
    margin-top: 50px;
    cursor: pointer;
  }
  
  .img-carusel{
    margin: auto 0;
  }
  
  .g1{
    display: flex;
    width: 100%;
    
  }
  
  .content-carus{
    
      width: 100%;
      position: relative;
      transition: all .7s ease;
  }

  .navigation-block{
      display: inline-block;
  }
  
  #r1:checked ~ .content-carus {
    margin-left: 0%;
  }
  
  #r2:checked ~ .content-carus {
    margin-left: -100%;
  }
  
  #r3:checked ~ .content-carus {
    margin-left: -200%;
  }

  @media (max-width: 1115px) {
    .content-carusel{
        display: block;
    }

    .g1{
        
        text-align: center;
    }

    .navigation{
        margin-right: 0;
    }

    .img-carusel img{
        margin-top: 30px;
        margin-right: 50px;
        
    }
  }

  @media (max-width: 720px) {
      .g1{
          flex-direction: column;
      }
  }

  @media (max-width: 490px){

    .navigation-block{
        display: inline-block;
        
        text-align: center;

    }
    .navigation{
        display: inline-block;
        
        
    }
    
    .content-carusel{
        margin: 0 auto;
    }

    .img-carusel img{
        margin: 20px auto;
    }

    .carusel-wraper{
        flex-direction: column;
        margin-top: 50px;
        
    }

    .content-carusel h6{
        margin-top: 25px;
    }

    .content-carusel p{
        margin-top: 25px;
    }
  }


.sub-list-img{
    margin-top: 50px;
}


.sub-list{
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
    
}

.sub-list-section h6{
    font-family: OpenSans-Bold;
    font-size: 20px;
    
    margin-bottom: 28px;
}

.sub-list-section hr{
    width: 64px;
    border: 1px solid #ff8b38;
    margin-bottom: 30px;
    background-color: #ff8b38;
}

.sub-list-section p{
    font-family: OpenSans-Regular;
    font-size: 14px;
    line-height: 20px;
    color: #86878b;
}

.sub-list-section span{
    font-family: 'open sans sembold';
    font-size: 14px;
    color: black;
    line-height: 15px;
    
}

.j1{
    margin-top: 45px;
    margin-bottom: 40px;
}


.sub-list-title{
    display: flex;
}

.sub-list-title img{
    width: 32px;
    height: 32px;
    color: #ff8b38;
    margin-right: 31px;
    cursor: pointer;
}

@media (max-width: 870px) {
    .sub-list{
        flex-direction: column;
        text-align: center;
    }
    .sub-list-section hr{
        margin: 15px auto;
    }
    .sub-list-title{
        justify-content: center;
    }
    .sub-list-title p{
        text-align: left;
    }
}


.stand-pict{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

.stand-title span{
    font-family: opensans-bold;
    font-size: 20px;
    color: black;
    
}

.stand-title hr{
    width: 64px;
    border: 1px solid #ff8b38;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #ff8b38;
}

.stand-title p{
    font-family: OpenSans-Regular;
    font-size: 14px;
    line-height: 20px;
    color: #86878b;
}

@media (max-width: 870px){
    .stand-pict{
        flex-direction: column;
        text-align: center;
        margin-top: 70px;
    }

    .stand-title hr{
        margin: 15px auto;

    }
    .stand-title p{
        margin-bottom: 15px;
    }
}

.awesom{
    margin-top: 135px;
    margin-bottom: 80px;
}

.awesom h3{
    text-align: center;
    text-transform: uppercase;
    font-family: Raleway-Regular;
    color: black;
    font-size: 36px;
}   

.awesom hr{
width: 64px;
margin: 30px auto;
border: 1px solid #ff8b38;
background-color: #ff8b38;
}

.awesom-text{
    font-family: penSans-Regular;
    font-size: 14px;
    color: #86878b;
    text-align: center;
}

.icon-text-block{
    display: flex;
    justify-content: space-between;
    
}

.icon-text{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    
}



.icon-text h5{
    font-family: OpenSans-Bold;
    font-size: 20px;
    line-height: 24px;
    margin: 30px auto; 
}

@media (max-width: 870px){
    .icon-text-block{
        flex-wrap: wrap;
    }
    .icon-text{
        margin-bottom: 30px;
    }
}


.PRICING-OPTIONS{
    margin-top: 150px;
    margin-bottom: 150px;
}

.options{
    text-align: center;
}

.options h4{
    text-align: center;
    font-size: 36px;
    margin: 0%;
    font-weight: 300;
    font-family: Raleway-Regular;
    text-transform: uppercase;
}

.options hr{
    width: 64px;
    margin: 30px auto;
    border: 1px solid #ff8b38;
    background-color: #ff8b38;
}

.options p{
    margin-bottom: 80px;
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #a4a5a8;
}

.payment-block{
    display: flex;
    justify-content: space-between;
}

.block{
    max-width: 340px;
    width: 100%;
}

.oun-block{
    max-width: 100%;
    height: 210px;
    background-color: #333333;
    transition-duration: .5s;
    position: relative;
    top: 35px;
    cursor: pointer;
}
.oun-block hr{
    margin: 0%;
    max-width: 100%;
}

.name-payment{
    text-align: center;
    margin: 0 auto;
    padding: 0%;
    font-size: 20px;
    line-height: 60px;
    color: white;
    font-family: OpenSans-Bold;
}

.sum-payment span{
   color: white;
   font-size: 35px;
   margin: 0%;
   font-family: Raleway-bold;
}
.sum-payment{
    font-size: 94px;
    margin: 0%;
    text-align: center;
    color: white;
    font-family: Raleway-bold;
}

.Monthly-Payment{
    text-align: center;
    font-size: 14px;
    color: #adadad;
    font-family: 'open sans sembold';
}

.twu-block{
    height: 40px;
    max-width: 100%;
    background-color: #ff8b38;
    transition-duration: .5s;
    z-index: -2;
}
.oun-block:hover{
    top: -0px;
    
}


.twu-block p{
    text-align: center;
    line-height: 40px;
    color: white;
    margin: 0%;
    font-family: OpenSans-Bold;
}

.block-ul{
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.block-ul ul{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.block-ul ul li{

    border-bottom: 1px solid #f5f5f5;
    
}

.block-ul ul li p{
    text-align: center;
    margin: 12px auto;
    text-transform: uppercase;
    color: #86878b;
    font-size: 14px;
    font-family: OpenSans-Regular;
}

@media (max-width: 890px) {
    .payment-block{
        flex-direction: column;
    }

    .block{
        
        margin: 30px auto;
    }

    .block-mess{
        flex-direction: column;
    }
    .manager{
        margin: 30px auto;
    }

}

.block-mess{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.manager{
    width: 100%;
    max-width: 270px;
    height: 100%;
}
.manager img{
    margin-top: 20px;
}
.manager-info{
    background-color: #f5f5f5;
    border-radius: 3px;
    padding: 15px;
    font-family: OpenSans-Regular;
    color: #86878b;
    font-size: 14px;
}
.name-manager span{
    font-family: OpenSans-Bold;
    font-size: 20px;
    color: black;
    
}

/*      !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!      */


.name-manager{
    display: inline-block;
    position: relative;
    top: -13px;
    left: 10px;
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #86878b;
    line-height: 1.5;
}

.AXURE-DESIGN::before{
    content: '..';
    background-image: url(img/les_derevia_ozero_221718_1920x1080.jpg);
    width: 100%;
    max-width: 1400px;
    max-height: 320px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;
}

.AXURE-DESIGN{
    width: 100%;
    margin: 0 auto;
    min-height: 320px;
    margin-bottom: 100px;
}

.AXURE-DESIGN h4{
    font-family: Raleway-Regular;
    color: white;
    text-align: center;
    font-size: 36px;
    margin-top: 75px;
}

.AXURE-DESIGN hr{
    width: 64px;
    border: 1px solid white;
    margin: 30px auto;
}

.AXURE-DESIGN p{
    color: white;
    text-align: center;
    font-family: Raleway-Light;
    font-size: 16px;
}

.AXURE-DESIGN button{
    width: 131px;
    height: 38px;
    font-family: 'open sans sembold';
    font-size: 15px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    margin: 32px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media (max-width: 420px) {
    .AXURE-DESIGN::before{
        min-height: 500px;
    }

}

.footer-form{
    display: flex;
    justify-content: space-between;
}
.form-text {
    max-width: 526px;
    width: 100%;
}
.form-text form{
    display: flex;
    flex-direction: column;
}

.form-text input{
    margin-top: 30px;
    max-width: 526px !important;
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-bottom: 2px solid #d6d6d6;
    font-family: OpenSans-Regular;
    font-size: 14px;
    color:black;
}

.form-message{
    max-width: 526px;
    width: 100%;
    
    margin-top: 34px;
}

.form-message textarea{
    width: 100%;
    height: 100%;
    height: 150px;
    border: none;
    border-bottom: 2px solid #d6d6d6;
    color: black;
    outline: none;
    font-family: OpenSans-Regular;
    font-size: 14px;
    resize: none;
}

.footer-button{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
}

.footer-button button{
    width: 145px;
    height: 44px;
    background-color: #ff9b51;
    border: none;
    border-radius: 3px;
    color: white;
    font-family: 'open sans sembold';
    font-size: 15px;
    cursor: pointer;
}

@media (max-width: 890px) {
    .footer-form{
        flex-direction: column;
        justify-content: center;
    }
    .form-text{
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .form-message{
        margin: 0 auto;
        margin-top: 25px;
    }
}

.footer::before{
    content: '..';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    width: 100%;
    max-width: 1400px;
    min-height: 83px;
    z-index: -1;
}



.footer-list{
    text-align: center;
    
}

.footer-list img{
    margin: 15px auto;
}


.axur p{
    text-align: center;
    color: white;
    font-size: 12px;
    color: #d6d6d6;
    font-family: OpenSans-Regular;
    margin: 0%;
}